
#Affilidated-page-section{
    margin-top: 100px;
}
.scroll-fix{
    overflow-y: auto;
}
.affiliated-pre-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
     color: #fff;
}
.affi-link{
    color: #ffffff;
}