.scroll-fix{
    overflow-y: auto;
}

#resorts-section-page{
 margin-top: 100px;
 height: 100vh;

}
 :root{
    --font-fam1:"Poppins", sans-serif;
 }
 .banner-resorts-page{
    margin-bottom: 30px;
   
 }
 .banner-slide{
    min-height: 550px;
    max-height: 550px;
    overflow: hidden;
    background-image: url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
 
    background-position: center;
    background-size: cover;

    font-family: var(--font-fam1);
 }
 .banner-box-heading{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .heading-resot-title{
   margin-bottom: 20px;
   font-family: var(--font-fam1);
   color: #AB8A62;
 }
 .slide-track{
   opacity: 1;
   /* max-width: 885px; */
 
 }
 .slick-active{
   width: 285px;
   padding: 0 5px;
   height: 100%;
 }
 .resort-page-img{
   min-height: 400px;
   max-height: 400px;
  
   /* filter: brightness(0.6); */
   background-image: url("https://static3-clubmahindra.gumlet.io/storage/app/media/All%20Compressed%20banners/Summer-Sands.jpg?w=768&dpr=1.0");

   display: flex;
   flex-direction: column-reverse;
 

   
 }
 .img-box-resort{
   overflow: hidden;
  
 }
 .resort-page-img {
 
   width: 100%;
   transition: transform 0.5s ease;
  
}
/* .resort-page-img:hover{
   transform: scale(1.1); 
} */
.resort-location-address{
  font-family: var(--font-fam1);
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
}
.name-location-box{
  padding: 30px;
}
.resorts-section-all{
  margin-bottom: 30px;
}